
@media screen and (max-weight :200px) {
div{ width: 200px;

}
*{
    box-sizing: border-box;
}

body{
    background-color:#6f5555;
    font-family: 'Oswald', sans-serif;
}

div{
    background-color: #76595A;
}

footer{
    background-color: #442D2D;
>>>>>>> abf4265096a481468078a6f5b081ecd700ccc07f
}